input:focus{
    outline:auto;
    background-color: palevioletred;    
    
}
input{
    border-radius: 5px;
    padding: 10px;
}
.input-container{
    position: relative;
    display: inline-block;
    
}
.input-container input{
    padding-left: 35px;
    
}

.icon-inside{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    
}
textarea{
    width: 300px;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
}
