body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

nav {
    margin: 0;
    padding: 0;
}

nav ul {
    list-style: none;
}

nav li {
    float: left;
}

nav a {
    width: 100px;
    text-decoration: none;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px 15px;
    border-right: 1px solid #336699;
}

nav a:hover {
    color: #336699;
}

nav li:last-child a {
    border-right: none;
}
